<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "head.html" %}
    <title>券码兑换</title>
</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">

        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">登录</h1>
                        <p class="lead fw-normal text-muted mb-0"></p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form data-sb-form-api-token="API_TOKEN" action="{% url 'verification:login' %}" method="post">
                                {% csrf_token %}
                                <!-- Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="username" name="username" type="text" placeholder="请输入用户名" required/>
                                    <label for="username" style="font-size: 14px">用户名：</label>
                                    <div class="invalid-feedback" id="coupon-invalid-feedback"></div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="password" name="password" type="password" placeholder="请输入密码" required/>
                                    <label for="password" style="font-size: 14px">密码：</label>
                                    <div class="invalid-feedback" id="coupon-invalid-feedback"></div>
                                </div>
                                <!-- Submit Button-->
                                <div id="liveAlertPlaceholder"></div>
                                <div align="center" style="color: red">{{ msg_cn }}</div>
                                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">登录</button></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
<!-- Bootstrap core JavaScript -->
{% include "script.html" %}
{% if messages %}
    <script>
        var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
        function alertMessage(message, type) {
            if (type == "error"){
                type = 'danger'
            }
            var wrapper = document.createElement('div')
            wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
            alertPlaceholder.append(wrapper)
        }

        {% for msg in messages %}
            alertMessage('{{ msg.message }}', '{{ msg.tags }}')
            window.setTimeout(function(){
                $('.alert').empty().removeClass();
            }, 3000)
        {% endfor %}
    </script>
{% endif %}
</body>
</html>
